* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Courier Prime", serif;
  overflow-x: hidden;
  background: linear-gradient(to right, #121c26 10%, #22364a 60%, #275075 100%);
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 24px;
}

p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  line-height: normal;
}

/* --- NAV --- */

.site-nav {
  position: fixed;
  top: 20px;
  left: 0;
  width: fit-content;
  z-index: 10;

}

.site-nav__inner {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 40px;
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;

}
nav{
  width: fit-content;
}
nav ul {
  list-style: none;
  gap: 20px;

}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
  position: relative;
  padding-left: 14px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

nav a::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: currentColor;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

nav a:hover {
  color: #64b5f6;
}

/* --- HERO SECTION --- */

#hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 220px;
}
.name {
  position: absolute;
  font-family: "Advent Pro";
  font-size: 2rem;
  margin-left: 348px;
  top: -10px;
  font-weight: 600;
  z-index: 2;
  color: white;
  max-width: 50%;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  z-index: 2;
}

.designer {
  font-size: 5rem;
  font-family: "Advent Pro";
  font-weight: 600;
  color: white;
}

.developer {
  font-size: 5.5rem;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-weight: bold;
}

/* The Slash / Divider */
.slash {
  position: absolute;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 15em;
  margin-left: 390px;
  margin-top: 30px;
  color: #121c26;
  z-index: -10;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* --- SECTION HEADERS --- */

#project-highlights,
#other-projects,
#technologies,
#about {
  font-family: "Advent Pro", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

/* --- PROJECT HIGHLIGHTS CARDS --- */

.card-wrapper-right,
.card-wrapper-left {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: flex;
  height: 375px;
  margin-bottom: 80px;
}

.card-wrapper-right {
  justify-content: flex-end;
}

.card-wrapper-left {
  justify-content: flex-start;
}

.card-right,
.card-left {
  width: calc(50% + 500px);
  max-width: 100%;
  height: 375px;
  margin-bottom: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.card-right {
  border-radius: 16px 0 0 16px;
}

.card-left {
  border-radius: 0 16px 16px 0;
}

.card-right-inner {
  display: flex;
  justify-content: flex-start;
  padding: 24px;
  background-image: linear-gradient(to right, #2a4257 25%, transparent 50%);
  border-radius: 16px 0 0 16px;
}

.card-left-inner {
  display: flex;
  justify-content: flex-end;
  border-radius: 0 16px 16px 0;
  padding: 24px;
  background-image: linear-gradient(to left, #2a4257 25%, transparent 50%);
}

.card-data-right {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
}

.card-data-left {
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  justify-content: space-between;
  height: 330px;
}

.project-title {
  font-family: "Advent Pro", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.project-description {
  width: 300px;
  font-size: 1em;
}

#card-one {
  background-image: url("./img/DFPhotoIMG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#card-two {
  background-image: url("./img/Pokemon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

/* --- BUTTONS --- */

a.btn {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 8px 35px;
  border-radius: 8px;
  border: none;
  background-color: #545b83;
  font-family: "Advent Pro", sans-serif;
  font-weight: 800;
  margin-top: 10px;
  text-decoration: none;
  color: white;
}

a.btn:hover{
  background-color: #5f6794;
}

a.btn:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 3px;
}

/* --- Filter Menu --- */

#filter-menu ul {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 20px auto 20px auto;
  background-color: #2a4257;
  border-radius: 40px;
  width: fit-content;
  padding: 5px 30px;
}

.filter-btn {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  position: relative;
}

.active {
  background-color: #27a0a6;
  border-radius: 20px;
  padding: 5px 15px;
}

/* --- Other Projects --- */

.project-grid {
  display: flex;
  justify-content: center;
}

.push-intr-cards-down {
  max-width: 1000px;
}

/* --- ABOUT SECTION --- */

.about-wrapper{
  display: flex;
  justify-content: center;
}


.about-image{
  width: 400px;
  padding: 20px;
}

.custom-color{
  background-color: #2A4257 !important;
}

.contact-info p {
  font-weight: 600;
}

.card-body a{
  text-decoration: underline;
  color: white;
  font-weight: 100;
}

.contact-info a:hover{
  color: rgba(255, 255, 255, 0.8);
}