* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Courier Prime", serif;
  color: #fff;
  overflow-x: hidden;
  background: linear-gradient(to right, #121c26 10%, #22364a 60%, #275075 100%);
}

/* --- NAV --- */

nav {
  position: fixed;
  z-index: 10;
  top: 20px;
  left: 20px;
  z-index: 1000;
  font-family: "Advent pro", sans-serif;
  font-weight: 800;
}

nav ul {
  list-style: none;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
  position: relative;
  padding-left: 14px;
}

nav a::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: currentColor;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

nav a:hover {
  color: #64b5f6;
}

/* --- HERO SECTION --- */

.hero-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 120px;
 
}

.hero-name {
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  text-align: right;
}

#left-side-hero{
  margin-right: 30px;
}

#hero-developer {
  font-size: 64px;
}


#hero-designer {
  position: relative;
  top: 8px;
  font-family: "Advent Pro", sans-serif;
  font-size: 55px;
  font-weight: 600;
  
}

#hero-slash {
  position: absolute;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 15em;
  margin-left: 150px;
  color: #121c26;
  z-index: -10;
  
}
